* {
box-sizing: border-box;
}

.bg {
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-image: url('multimedia/fondo-light.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
z-index: -2;
}

.div {
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-color: rgba(255, 255, 255, 0.5);
z-index: -1;
}

.form {
position: absolute;
top: 50%;
left: 50%;
width: 80%;
transform: translate(-50%, -50%);
}

h1 {
width: 100%;
text-align: center;
color: black;
margin: 0;
padding: 2vh 0;
font-family: "DM Sans", "sans-serif";
}

form input {
display: block;
margin: 2.5vh auto;
border: none;
border-bottom: solid black 2px;
outline: none;
padding: 1.5vh 0;
width: 50%;
color: black;
text-align: center;
background-color: transparent;
}
form button {
display: block;
margin: 2.5vh auto;
padding: 2vh 4vh;
background-color: rgba(0, 0, 0, 1.0);
color: white;
font-weight: bold;
border: none;
cursor: pointer;
font-family: "DM Sans", "sans-serif";
border-radius: 15px;
}

/**************************************************Dark Mode**************************************************/
body.dark-mode .bg {
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-image: url('multimedia/fondo-dark.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
z-index: -2;
}

body.dark-mode .div {
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: -1;
}

body.dark-mode h1 {
width: 100%;
text-align: center;
color: white;
margin: 0;
padding: 2vh 0;
font-family: "DM Sans", "sans-serif";
}

body.dark-mode form input {
display: block;
margin: 2.5vh auto;
border: none;
border-bottom: solid white 2px;
outline: none;
padding: 1.5vh 0;
width: 50%;
color: white;
text-align: center;
background-color: transparent;
}
body.dark-mode form button {
display: block;
margin: 2.5vh auto;
padding: 2vh 4vh;
background-color: rgba(255, 255, 255, 1.0);
color: black;
font-weight: bold;
border: none;
cursor: pointer;
font-family: "DM Sans", "sans-serif";
border-radius: 15px;
}